.clase1{
/*    display: inline-block; 
 */  background-color: blue;
  width: 70px;
  height: 70px;
}
.clase2{
  display: inline-block;
  background-color: rgb(195, 0, 255);
  width: 70px;
  height: 70px;
  z-index: 100;
}
.clase3{
  display: inline-block;
  background-color: rgb(21, 159, 95);
  width: 70px;
  height: 70px;
}

body {
  background-image: url('tareas.jpg') !important;
  background-size: cover; /* Ajusta la imagen para cubrir el área */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repeticiones */
  min-height: 100vh; /* Asegura que el body ocupe todo el viewport */
}